*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

htlm,body{
    height: 100%;
    overflow: auto;
}
/*Estilo para conteúdo do site*/

form{
    text-align: center;
    /* auto centraliza o objeto quando o text-align estiver center e o display block*/
    background-color: darkcyan;
    padding: 30px 0;
}

form select{
    width: 200px;
    height: 200px;
    font-size: 20px;
    text-align: center;
    appearance: none;
    border: 0;
    border-radius: 100%; /*para criar uma circunferência configure largura igual altura e border-radious de 100%*/
}





